<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      th:replace="layout/admin-layout :: layout(
            title = 'Gestión de Usuarios',
            content = 'thisContent'
      )">

<div th:fragment="thisContent">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Gestión de Usuarios</h3>
        <a class="btn btn-primary" th:href="@{/admin/usuarios/nuevo}">
            <i class="bi bi-plus-circle"></i> Nuevo Usuario
        </a>
    </div>

    <div class="card p-3">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.correo}"></td>
                <td th:text="${u.rol}"></td>

                <td>
                    <a class="btn btn-success btn-sm"
                       th:href="@{'/admin/usuarios/editar/' + ${u.id}}">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <a class="btn btn-danger btn-sm"
                       th:href="@{'/admin/usuarios/eliminar/' + ${u.id}}"
                       onclick="return confirm('¿Eliminar usuario?');">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>
